<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">Busqueda de Obligados Tributarios</div>
          <div class="card-body">
              <form class="form-stacked">
                  <div class="form-group">
                    <label for="query">Nombre con apellidos o numero de identificacion</label>
                    <input
                    ngModel
                    name="queryFromUser"
                    #queryFromUser = 'ngModel'
                    (change)="doSearch(queryFromUser)"
                    id="queryFromUser"
                    class="form-control" minlength="5">
                    <br>
                  </div>
                </form>
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Resultados de busqueda</div>
      <div class="card-body">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Cedula</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <!--<th scope="col">Accion</th>-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obligado of resultados">
                  <th scope="row">{{obligado.cedula}}</th>
                  <td>{{obligado.type}}</td>
                  <td>{{obligado.firstname1}} {{obligado.firstname2}}</td>
                  <td>{{obligado.lastname1}} {{obligado.lastname2}}</td>
                  <!--<td><button type="button" class="btn btn-primary">Seleccionar</button></td>-->
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
